<div class="card2 mat-elevation-z8">
  <mat-card class="card mat-elevation-z8">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Help Desk</mat-card-title>
      <mat-card-subtitle>Curso Dev Fullstack</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="Image Home Help Desk">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, odio numquam, error mollitia sequi consectetur quia nam, <br>
        blanditiis nulla similique consequatur ab expedita nobis. Laborum tempore rerum accusamus nihil, autem ullam doloribus  <br>
        exercitationem error magnam consequuntur eaque eum ipsum cupiditate. Deserunt dolores inventore, vitae quibusdam quia repellendus <br>
        eaque culpa error tenetur blanditiis quos assumenda tempore cupiditate ipsum quod ipsam saepe.
      </p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
</div>

